asttokens
backcall
backports
beautifulsoup4
black
Bottleneck
brotlipy
certifi
cffi
charset
click
colorama
cryptography
debugpy
decorator
entrypoints
executing
idna
install
ipykernel
ipython
jedi
jupyter
jupyter
matplotlib
mkl
mkl
mkl
mypy
nest
numexpr
numpy
packaging
pandas
parso
pathspec
pickleshare
pip
platformdirs
prompt
psutil
pure
pyaml
pycparser
Pygments
pyOpenSSL
pyparsing
PySocks
python
pytz
pywin3
PyYAML
pyzmq
requests
setuptools
six
soupsieve
stack
tomli
tornado
traitlets
typing_extensions
urllib3
wcwidth
wheel
win
wincertstore
